<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860949445403-qs2t0uet0v7pqoupip8mudhda63kns7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860949445403-qs2t0uet0v7pqoupip8mudhda63kns7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860949445403-itq3te7ntqh528guh11t5ur280i794dj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIHFI5Qxaggc664nzdzz2XBcqeAIDq1WU</string>
	<key>GCM_SENDER_ID</key>
	<string>860949445403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diamondtoursghana.diamondtours</string>
	<key>PROJECT_ID</key>
	<string>diamond-tours-ghana-4a645</string>
	<key>STORAGE_BUCKET</key>
	<string>diamond-tours-ghana-4a645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860949445403:ios:88cfbfdf2450ba577771be</string>
</dict>
</plist>